<!DOCTYPE html>
<html>
    <head>
        <title>404 Page Introuvable</title>
    </head>
    <body>
        <h1>Erreur 404</h1>
        <p>La page que vous demandez est introuvable</p>
    </body>
</html>
